* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;

}

header{
    background-image: url('../img/jumbo.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.nav {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.button-accedi {
    background-color: white;
    color: black;
    border-radius: 23px;
    text-align: center;
    padding: 12px 4px;
    text-decoration: none;
    margin: auto;
}

.img-logo {
    margin: auto;
}

.container-nav {
    text-align: center;
    color: white;
    font-size: x-large;
}

.titolo {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 80px;
}

.button-scarica-apri {
    margin-top: 60px;
    padding-bottom: 90px;

}

.button-scarica {
    background-color: white;
    color: black;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 5px;
}

.button-apri {
    background-color: black;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 5px;
}

.container-flex {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.img-1 {
    width: 500px;
}

.secondo-titolo {
    margin-right: 50px;
    max-width: 40%;
}

h2 {
    font-size: 60px;
}

p {
    font-size: x-large;
    margin-top: 30px;
}

.container-flex-2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: lightgray;
    padding-top: 40px;
    padding-bottom: 50px;
}

.grey1 {
    display: block;
}

.grey.rotated {
    display: block;
    transform: rotateZ(180deg) rotateY(180deg);
}

.terzo-titolo {
    max-width: 40%;
}

.img-2 {
    width: 500px;
}

.container-flex-3 {
    display: flex;
    justify-content: center;
}

.img-3 {
    width: 700px;
}

.quarto-titolo {
    max-width: 40%;
}

.quinto-titolo {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.paragrafo {
    margin-left: 300px;
    margin-right: 300px;
}

.img-4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sesto-titolo {
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
    padding-bottom: 50px;
} 

.button-scarica2 {
    background-color: blueviolet;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
    width: 250px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.container-finale {
    background-color: lightgray;
    padding-top: 40px;
}

h3 {
    background-image: url('../img/stars.svg');
    background-repeat: no-repeat;
    background-position: center;

}

h4 {
    font-size: 30px;
}

footer {
    background-color: #191970;
    padding-top: 1px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

h4 {
    color: 	#4169E1;
    font-size: 40px;
}

h5 {
    color: 	#4169E1;
    font-size: 30px;
}

.lista {
   padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

li {
   list-style: none;
   margin-top: 1em;
}

.contenitore-loghi {
    font-size: 30px;
    margin-top: 30px;
    color: white;
}

.italia{
    margin-top: 20px;
}

span {
    font-size: 20px;
    color: white;
    margin-left: 10px;
}
