* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url('../img/jumbo.png');  
}

.nav {
    display: flex;
    justify-content: space-around;
    color: white;
}

.container-nav {
    text-align: center;
    color: white;
    margin-top: 60px;
    padding-bottom: 30px;
}

