* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url('../img/jumbo.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    height: 530px;
}

.nav {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.button-accedi {
    background-color: white;
    color: black;
    border-radius: 20px;
    text-align: center;
    padding: 12px 3px;
    text-decoration: none;
}

.container-nav {
    text-align: center;
    color: white;
    font-size: x-large;
}

.titolo {
    margin-top: 100px;
    margin-bottom: 1rem;
}

.button-scarica-apri {
    margin-top: 30px;
    margin-bottom: 70px;

}

.button-scarica {
    background-color: white;
    color: black;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 5px;
}

.button-apri {
    background-color: black;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 5px;
}

.container-flex {
    display: flex;
}

.img-1 {
    width: max-content;
    flex-grow: 3;
   flex-basis: 0;
   flex-shrink: 1;
}

.secondo-titolo {
    width: 1000px;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
}

